<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<section class="hero">


  <nav class="nav-bar">

    <div class="logo">
      <h2>Predict</h2> <span>It</span>
    </div>

    <div>
      <ul>

        <li> Home </li>

        <li> Make Prediction </li>

        <li> Instructions </li>

        <li> Crop Pharmacies </li>


      </ul>

    </div>


    <div>


      <button class="btn">Sign In</button>

      <button class="btn">Sign Up</button>

    </div>


  </nav>

  <div class="hero-words">

    <h1>We Predict Plant dieases</h1>


    <h3>Here to help you</h3>

  </div>




</section>


<section class="our-application">

  <div class="container">

    <div class="card">

      <img src="../assets/markus-spiske-1UTexFK5FTE-unsplash.jpg">


      <div>

        <p>

          Keep your crops health by finding out the plant diesease on time and treating it with appropriate medicine

        </p>

      </div>

    </div>


  </div>


</section>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>